{% extends 'autodj/home.html' %}
{% load static%}

{% block title %}
    Партнеры
{% endblock %}

{% block content %}
<div class="container tutorials">
    <div class="row partners">
        <div class="col-lg-4 partner">
        <img src="{% static 'images/avatar.svg'%}">
        <h2>Иван Иванов</h2>
        <p>Ведущий города Красноярск</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 partner">
        <img src="{% static 'images/avatar.svg'%}">
        <h2>Петр Петров</h2>
        <p>Ведущий города Москва</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 partner">
        <img src="{% static 'images/avatar.svg'%}">
        <h2>Кирилл Кириллов</h2>
        <p>Ведущий города Иркутск</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>
{% endblock %}

{% block footer %}
    class="fixed-bottom"
{% endblock %}